
*{
    margin: 0; padding: 0;
}

/* a{
    text-decoration: none;
} */

h1{
    font-size: 2rem;
    text-align: center;
}

.info-hero {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  top: 500px;
  left: 34%;
}

.dudas-info {
  text-align: center;
}

.fa-whatsapp {
  color: #fff;
}

.fa-facebook {
  color: #fff;
}

.fa-instagram {
  color: #fff;
}

.social-info {
  text-align: center;
}

.slider-section {
  position: relative;
  z-index: -10;
}

.cards-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.carousel-control-next, .carousel-control-prev {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    /* z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.navbar {
  backdrop-filter: blur(15px);
}

/* ==== COLOR BOTONES CARRUSEL ==== */


.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #f8f9fa;
}

/* ==== ¿QUIENES SOMOS? ==== */

.row {
  margin-right: -15px;
  margin-left: -15px;
}

element.style {
  visibility: visible;
  animation-delay: 0.5s;
  animation-name: fadeInDown;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} 

.col-sm-12 {
  width: 100%;
} */

/* ==== IMG NOSOTROS ==== */


/* ========= ¿QUIENES SOMOS? ========== */

.section-title h2 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #030303;
}

/* ==== IMG SERVICIOS ==== */

.img-fluid {
  max-width: 70%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

*, ::after, ::before {
  box-sizing: border-box;
}